<div class="projects">
	<ul class="projects__list">
		<li
			class="projects__item"
			*ngFor="let project of visibleProjects; let i = index; trackBy: trackByIndex"
		>
			<article class="project-card">
				<div class="project-card__image-wrapper">
					<button
						type="button"
						class="project-card__image-button"
						[attr.aria-label]="'Ampliar as imagens de ' + project.title"
						(click)="openGallery(i)"
					>
						<img
							class="project-card__image"
							[src]="project.img_urls[activeImageIndexes[i]]"
							[alt]="'Imagem do projeto ' + project.title"
							loading="lazy"
						/>
					</button>

					<ng-container *ngIf="project.img_urls.length > 1">
						<button
							type="button"
							class="project-card__carousel-nav project-card__carousel-nav--prev"
							aria-label="Imagem anterior"
							(click)="previousImage(i)"
						>
							&#8249;
						</button>
						<button
							type="button"
							class="project-card__carousel-nav project-card__carousel-nav--next"
							aria-label="Próxima imagem"
							(click)="nextImage(i)"
						>
							&#8250;
						</button>

						<ul class="project-card__carousel-dots">
							<li
								*ngFor="
									let image of project.img_urls;
									let imageIndex = index;
									trackBy: trackByIndex
								"
							>
								<button
									type="button"
									class="project-card__carousel-dot"
									[class.project-card__carousel-dot--active]="
										imageIndex === activeImageIndexes[i]
									"
									[attr.aria-label]="'Ir para a imagem ' + (imageIndex + 1)"
									[attr.aria-current]="imageIndex === activeImageIndexes[i]"
									(click)="goToImage(i, imageIndex)"
								></button>
							</li>
						</ul>
					</ng-container>
				</div>

				<div class="project-card__content">
					<h3 class="project-card__title">{{ project.title }}</h3>

					<p class="project-card__description">
						{{ project.description }}
					</p>

					<ul
						class="project-card__technologies tech-chips"
						aria-label="Tecnologias usadas"
					>
						<li
							class="tech-chip"
							*ngFor="let technology of project.technologies"
						>
							{{ technology }}
						</li>
					</ul>

					<footer class="project-card__footer">
						<a
							class="project-card__link"
							href="{{ project.code_url }}"
							target="_blank"
							rel="noopener noreferrer"
							[attr.aria-label]="'Ver o código de ' + project.title"
						>
							<svg class="project-card__link-icon" aria-hidden="true">
								<use xlink:href="assets/icons/code-icon.svg#code-icon"></use>
							</svg>
							Código
						</a>
						<a
							*ngIf="project.demo_url"
							class="project-card__link"
							href="{{ project.demo_url }}"
							target="_blank"
							rel="noopener noreferrer"
							[attr.aria-label]="'Abrir a demo de ' + project.title"
							>Demo
							<svg
								class="project-card__link-icon project-card__link-icon--arrow"
								aria-hidden="true"
							>
								<use
									xlink:href="assets/icons/arrow-up-right-icon.svg#arrow-up-right-icon"
								></use>
							</svg>
						</a>
					</footer>
				</div>
			</article>
		</li>
	</ul>
</div>

<app-project-gallery-modal
	*ngIf="galleryProject"
	[images]="galleryProject.img_urls"
	[title]="galleryProject.title"
	[startIndex]="galleryStartIndex"
	(closed)="closeGallery()"
	(indexChanged)="onGalleryIndexChanged($event)"
></app-project-gallery-modal>
